version: "3.9"

services:
  web:
    build: .
    command: python manage.py runserver 0.0.0.0:8080
    ports:
      - "8080:8080" # map container 8080 to localhost 8080
    volumes:
      - .:/code
    depends_on:
      - db
    environment:
      - DB_NAME=postgres
      - DB_USER=postgres
      - DB_PASSWORD= # empty because of trust method
      - DB_HOST=db
      - DB_PORT=5432

  db:
    image: postgres:14
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_HOST_AUTH_METHOD=trust

volumes:
  postgres_data:
